.about-orders
    &__inner
        @extend %contentIndent
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__item
        background-color: #fff
        width: 31%
        max-width: 100%
        padding: 28px
        text-align: center
        @include breakpoint($phone)
            width: 100%
            margin-bottom: 20px

    &__title
        font-size: 60px
        color: $darkGray
        font-weight: bold
        &_pos
            font-size: 80px
        @include breakpoint($laptop)
            font-size: 38px
        .price-rub
            font-size: 60px
            padding-right: 45px
            @include breakpoint($laptop)
                font-size: 38px
                padding-right: 30px
            &:before
                height: 50px
                width: 32px
                @include breakpoint($laptop)
                    height: 30px
                    width: 25px
    &__subtitle
        font-size: 22px
        color: $darkGray
        @include breakpoint($laptop)
            font-size: 18px

