.accordion
  border-bottom: 1px solid #E3E3E3
  &:last-child
    border-bottom: none
  &__head
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 20px 0
  &__title
    font-size: 18px
    font-family: $JostBold
  &__btn
    width: 24px
    height: 24px
    border-radius: 50%
    border: 2px solid $red
    cursor: pointer
    position: relative
    box-shadow: none
    &:hover
      box-shadow: 2px 3px 6px 1px $grayText

    &:before
      content: ''
      height: 2px
      width: 12px
      border-radius: 50%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: $red
    &:after
      content: ''
      height: 12px
      width: 2px
      border-radius: 50%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: $red
    &.open
      &:after
        display: none

