.acts
  &__inner
    @extend %contentIndent
  &__period
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-bottom: 20px
  &__period-title
    width: 100%
    font-size: 20px
    font-family: $CommissionerBold
    margin-bottom: 20px
  &__input
    width: 200px
    margin-left: 10px
    margin-right: 10px
  &__period-date
    display: flex
    flex-wrap: wrap
    align-items: center
    font-family: $JostRegular
    font-size: 18px
    @include breakpoint($phone)
      width: 100%
      margin-bottom: 10px
  &__period-calendar
    display: flex
    flex-wrap: wrap
    @include breakpoint($laptop)
      margin-bottom: 10px
  &__period-btn
    width: 100%
    margin-top: 20px
  &__period-radio
    margin-left: 20px
    @include breakpoint($laptop)
      width: 100%
      margin-left: 0
      margin-bottom: 20px
  &__setting
    display: flex
    flex-wrap: wrap
    margin-bottom: 20px
  &__setting-btn
    margin-right: 10px
    @include breakpoint($smallPhone)
      width: 100%
      margin-bottom: 10px




