.acts-table
  margin-bottom: 20px
  display: table
  width: 100%
  &__row
    display: table-row
    font-size: 18px
    color: #000000
    background-color: #ffffff
    &_head
      font-size: 14px
      color: $darkGrayText
      background-color: transparent
      .acts-table__coll
        padding: 10px 20px
    &:last-child
      & .shipment-table__coll
        border-bottom: none
  &__coll
    align-self: center
    display: table-cell
    padding: 20px 10px
    border-bottom: 1px solid #E3E3E3
    @include breakpoint($phone)
      font-size: 14px
    .form-check-input
      margin-top: 0
    &:first-child
      width: 50px
      padding: 20px 10px 20px 20px
      vertical-align: middle
    &_txt-center
      text-align: center
    &_name
      flex-grow: 1
