.amount
    &__inner
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
        width: 108px
        align-items: center
    &__coll
        font-size: 18px
        max-width: 40px
        text-align: center
        border: none
