.article
    @extend %contentPadding
    padding-top: 0
    &__inner
        background-color: #fff
        padding: 30px 30px 30px 30px
        overflow: hidden
        //max-width: 1200px
        margin: 0 auto
    &__h1
        margin-bottom: 30px
        font-weight: bold
        font-size: 32px
        @include breakpoint($phone)
            font-size: 28px
    &__item-head-img
        width: 100%
    &__main-img
        float: left
        width: 50%
        max-width: 300px
        margin-right: 20px
        margin-bottom: 20px
        @include breakpoint($phone)
            width: 100%
    p
        font-size: 16px
    &__manufacturer.statistics-manufacturer
        margin-top: 30px
    &__manufacturer-item.statistics-manufacturer__item
        width: 32%
        @include breakpoint($phone)
            width: 100%
