.banners
    &__inner
        display: flex
        flex-wrap: wrap
        height: 30vw
        transition: 0.3s
        @include breakpoint($phone)
            height: auto
    &__rectangle, &__square
        background-size: cover
        background-repeat: no-repeat
        position: relative
        background-position: top left
    &__rectangle
        width: min-content
        flex: auto
        @include breakpoint($phone)
            width: 100%
            height: 47vw
    &__square
        width: 37%
        @include breakpoint($phone)
            width: 100%
            height: 80vw
    &__btn
        position: absolute
        left: 60px
        bottom: 60px
        @include breakpoint($laptop)
            left: 40px
            bottom: 40px
        @include breakpoint($phone)
            left: 20px
            bottom: 20px

.open-navigation .banners
    &__inner
        height: 24vw
        @include breakpoint($desktop)
            height: 25vw
        @include breakpoint($tablet)
            height: 30vw
