.form-select, .form-control
    border-radius: 0
.form-select option
    font-size: 18px
    font-family: $JostRegular
    font-weight: 400
.form-select:focus, .form-control:focus
    border-color: $red
    box-shadow: 0 0 0 0.25rem rgb(215 37 47 / 25%)
.form-check-input[type=checkbox]
    border-radius: 0
.form-check-input:checked
    background-color: $red
    border-color: $red
.form-check-input:focus
    box-shadow: 0 0 0 0.25rem rgb(215 37 47 / 25%)
    border-color: $red


