.breadcrumbs
    padding: 20px 60px
    @include breakpoint($laptop)
        padding: 20px 40px
    @include breakpoint($tablet)
        padding: 20px 20px
        border-top: 1px solid$gray
    @include breakpoint($phone)
        padding: 10px 10px
        overflow-x: scroll
    &__list
        margin: 0
        padding: 0
        @include breakpoint($phone)
            white-space: nowrap
    &__item
        display: inline-block
        color: $grayText
    &__link
        color: $grayText
        font-size: 16px
        position: relative
        display: inline-block
        padding-right: 25px
        margin-right: 10px
        @include breakpoint($phone)
            font-size: 14px
        &:hover
            text-decoration: underline
            color: $grayText
        &:before
            content: ''
            position: absolute
            width: 12px
            height: 8px
            background-image: url("/f/i/icons/vector.svg")
            right: 0
            top: 50%
            transform: translateY(-50%)
            background-size: cover
            background-repeat: no-repeat



