.cart
    background-color: #fff
    &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        display: block
        background-color: #fff
        height: 500px
        z-index: -1
    &__inner
        @extend %contentIndent
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__buy
        width: 420px
        @include breakpoint($laptop)
            order: 2
            width: 100%
    &__images
        width: 480px
        @include breakpoint('1800px')
            width: 50%
        @include breakpoint($laptop)
            width: 100%
            order: 1
            margin-bottom: 40px
    &__leftovers
        width: 360px
        @include breakpoint('1800px')
            width: 100%
        @include breakpoint($laptop)
            order: 3
            width: 100%
            margin-bottom: 40px
