.catalog
    &__inner
        @extend %contentIndent
        display: flex
        flex-wrap: wrap
        justify-content: left
    &__title
        font-size: 22px
        font-weight: bold
        margin-bottom: 17px
        cursor: pointer
    &__section
        width: 50%
        position: relative
        padding: 0 65px 65px 120px
        &:nth-child(2n)
            padding-right: 0
        @include breakpoint($laptop)
            padding: 0 0 65px 120px
            width: 100%
        @include breakpoint($phone)
            padding: 50px 0 30px 0px
    &__list
        padding: 0
        margin: 0
    &__list-li
        display: inline-block
        margin: 0 5px 5px 0
        background-color: #ffffff
        padding: 0 10px
        border-radius: 10px
        box-shadow: 1px 1px 5px -2px #000000
    &__link
        color: $grayText
        font-size: 16px
        line-height: 28px
        @include breakpoint($phone)
            font-size: 13px
    &__logo
        position: absolute
        width: 100px
        height: 100px
        border-radius: 50%
        overflow: hidden
        left: 0
        top: 0
        background-size: cover
        background-position: center center
        @include breakpoint($phone)
            width: 41px
            height: 41px
