.characteristics
    background-color: #F9F9F9
    &__inner
        @extend %contentPadding
    &__title
        font-size: 25px
        margin-bottom: 25px
        line-height: 25px
        font-family: $CommissionerBold
    &__list
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__item
        width: 48%
        display: flex
        align-items: center
        font-size: 18px
        line-height: 20px
        margin-bottom: 7px
        padding-bottom: 7px
        border-bottom: 1px solid #fff
        @include breakpoint($laptop)
            width: 100%
    &__item-title
        width: 50%
        padding-right: 10px
    &__item-desc
        width: 50%
