.choice-city
    position: absolute
    top: 50%
    left: 40%
    transform: translateY(-50%)
    @media screen and (max-width: $desktop)
        left: 50%
    @media screen and (max-width: $phone)
        left: 40%
        display: none
    &__opted
        padding: 5px 0 5px 25px
        background-image: url("/f/i/icons/point-map.svg")
        background-repeat: no-repeat
        background-position: left center
        cursor: pointer
