.choice
    @include breakpoint($phone)
        margin-top: 18px
    &__inner
        @extend %contentIndent
    &__table
        th
            font-size: 14px
            color: $grayText
        tr.odd td, tr.even td
            background-color: #fff
            border-bottom: 4px solid $gray
            font-size: 18px

        tr.odd td img, tr.even td img
            max-width: 48px
            height: 48px
            margin: 10px
    &__setting-product
        display: flex
        flex-wrap: wrap
        align-items: center
        margin-bottom: 38px
    &__table-setting
        display: flex
    &__table-top, &__table-bottom
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
    &__table-top
        margin-bottom: 20px
    &__table-writes, &__table-gear
        display: flex
    &__wrap-select-brand, &__form-check
        margin-right: 50px
        @include breakpoint($tablet)
            margin-right: 20px
        @include breakpoint($phone)
            margin-right: 15px
            width: 100%
    &__wrap-select-brand
        box-shadow: 0px 0px 8px -4.5px #000
        @include breakpoint($phone)
            margin-bottom: 16px
    &__form-check
        @include breakpoint($phone)
            margin-bottom: 13px
    &__select
        min-width: 300px
        font-size: 18px
        line-height: 23px
        padding: 13px 16px
        @include breakpoint($phone)
            font-size: 15px


//    .dataTables_wrapper
//        label, .dataTables_info
//            font-size: 18px
//            color: $grayText
//        .pagination
//            display: block
//        .paginate_button
//            padding: 0
//            border: none
//            min-width: max-content
//            width: 44px
//            height: 44px
//            .page-link
//                border: none
//                background-color: transparent
//                padding: 10px
//                border-radius: 5px
//                color: #000
//            .page-link:focus
//                box-shadow: none
//
//        .paginate_button.active
//            .page-link
//                background-color: $darkGray
//                color: #FFF
//        .paginate_button.disabled
//            background-color: transparent!important
//            .page-link
//                color: $grayText
//                background-color: transparent!important
//
//        .form-control-sm
//            min-height: auto
//            border-radius: 0
//            line-height: inherit
//
//
//.dataTables_length select, .dataTables_length input, .dataTables_wrapper select, .dataTables_wrapper input
//    height: 38px
//    font-size: inherit
//div.dataTables_wrapper div.dataTables_filter input
//    width: 600px
//.dataTables_length .dataTables_length, .dataTables_length .dataTables_filter, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter
//    margin-top: 0
//    margin-bottom: 0




