.city-logo
    width: 420px
    @include breakpoint($desktop)
        width: 320px
    @include breakpoint($phone)
        //width: 130px
        width: 50px
    &__inner
        padding: 10px 10px 10px 60px
        position: relative
        @include breakpoint($phone)
            padding: 10px
