.colleag-favorit
  margin-top: 40px
  &__inner
    background-color: #ffffff
    padding: 14px 12px 15px 16px
  &__title
    font-size: 24px
    font-family: $JostBold
    margin-bottom: 10px
    @include breakpoint($phone)
      font-size: 18px
  //&__list
  //  margin-left: 10px
  &__item
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    border-bottom: 1px solid #E3E3E3
    padding: 5px 0
  &__item-name
    font-size: 18px
    position: relative
    padding-left: 30px
    display: flex
    align-items: center
    &:before
      content: ''
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-50%)
      width: 20px
      height: 20px
      background-image: url("/f/i/icons/user.svg")
      background-size: cover
    @include breakpoint($phone)
      width: 100%
      margin-bottom: 3px
  &__item-info
    display: flex
    flex-wrap: wrap
    @include breakpoint($phone)
      width: 100%
      padding-left: 30px
  &__item-quantity
    margin-right: 30px
    font-size: 18px
    color: #6D6D6D
  &__item-btn
    font-size: 18px
