.control-buy
    &__inner
        @extend %contentIndent
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        @include breakpoint($phone)
            justify-content: left
    &__right
        display: flex
        justify-content: space-between
        @include breakpoint($laptop)
            margin-bottom: 20px
        @include breakpoint($middlePhone)
            width: 100%
            display: block
            margin-bottom: 0
        .red-btn
            @include breakpoint($middlePhone)
                width: 100%
                margin-bottom: 20px

    &__left
        width: 440px
        display: flex
        justify-content: space-between
        margin-right: 12px
        @include breakpoint($laptop)
            margin-bottom: 20px
        @include breakpoint($middlePhone)
            width: 100%
            display: block
            margin-bottom: 0
        .red-btn
            @include breakpoint($middlePhone)
                width: 100%
                margin-bottom: 20px



