.contacts
  &__inner
    @extend %contentIndent
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 60px
    min-height: 900px
  &__panel
    width: 400px
    @include breakpoint($laptop)
      width: 100%
      display: block
      overflow-x: scroll
      white-space: nowrap
  &__main
    width: calc(100% - 400px - 40px)
    order: 2
    @include breakpoint($laptop)
      width: 100%
  &__desc
    font-size: 16px
    font-weight: bold
    line-height: 20px
    margin-bottom: 40px
    border-left: 4px solid $red
    padding-left: 20px
  &__shops
    display: flex
    flex-wrap: wrap
    margin-bottom: 40px
  &__item-shop
    display: flex
    flex-wrap: wrap
    width: 100%
    padding-right: 0
  &__shop-wrap-img
    width: 200px
    @include breakpoint($phone)
      width: 120px
    @include breakpoint($middlePhone)
      width: 100%
      margin-bottom: 10px
    img
      width: 100%
  &__shop-info
    width: calc(100% - 200px)
    padding-left: 10px
    @include breakpoint($phone)
      width: calc(100% - 120px)
    @include breakpoint($middlePhone)
      width: 100%
  &__shop-title
    font-weight: bold
    font-size: 22px
    margin-bottom: 10px
  &__shop-phone
    display: block
    font-size: 16px
    line-height: 22px
    font-weight: bold
    margin-bottom: 10px
    padding-left: 30px
    position: relative
    color: #000000
    &:before
      content: ''
      position: absolute
      height: 20px
      width: 20px
      left: 0
      top: 3px
      background-position: center center
      background-size: contain
      background-image: url("/f/i/icons/phone-call.svg")
    @include breakpoint($phone)
      font-size: 14px
      margin-bottom: 5px
  &__shop-mail
    display: block
    font-size: 16px
    line-height: 22px
    font-weight: bold
    margin-bottom: 10px
    padding-left: 30px
    position: relative
    color: #000000
    &:before
      content: ''
      position: absolute
      height: 20px
      width: 20px
      left: 0
      top: 3px
      background-position: center center
      background-size: contain
      background-image: url("/f/i/icons/email.svg")
    @include breakpoint($phone)
      font-size: 14px
      margin-bottom: 5px
  &__shop-adress
    font-size: 16px
    line-height: 22px
    font-weight: bold
    margin-bottom: 10px
    padding-left: 30px
    position: relative
    &:before
      content: ''
      position: absolute
      height: 20px
      width: 20px
      left: 0
      top: 3px
      background-position: center center
      background-size: contain
      background-image: url("/f/i/icons/map-point.svg")
    @include breakpoint($phone)
      font-size: 14px
      margin-bottom: 5px
  &__shop-clock
    font-size: 16px
    line-height: 22px
    font-weight: bold
    margin-bottom: 10px
    padding-left: 30px
    position: relative
    &:before
      content: ''
      position: absolute
      height: 20px
      width: 20px
      left: 0
      top: 3px
      background-position: center center
      background-size: contain
      background-image: url("/f/i/icons/wall-clock.svg")
    @include breakpoint($phone)
      font-size: 14px
      margin-bottom: 5px
  &__item-shop
    margin-bottom: 20px
  &__title
    font-size: 32px
    font-weight: bold
    margin-bottom: 40px
    @include breakpoint($tablet)
      font-size: 28px
    @include breakpoint($smallPhone)
      font-size: 26px
  &__map
    margin-bottom: 40px
