.download-list
    @include breakpoint($laptop)
        margin-bottom: 40px
    &__title
        font-size: 20px
        margin-bottom: 20px
        font-family: $CommissionerBold
    &__link
        display: block
        color: #000
        padding-right: 50px
        position: relative
        margin-bottom: 15px
        font-size: 18px
        &:hover
            color: #000
        &:before
            content: ''
            position: absolute
            right: 0
            top: 50%
            transform: translateY(-50%)
            width: 20px
            height: 20px
            background-image: url("/f/i/icons/download.svg")
            background-position: center center
            background-size: contain
