.employees
    &__title
        font-size: 25px
        font-weight: bold
        line-height: 25px
        margin-bottom: 20px
    &__item
        position: relative
        padding: 20px 80px 20px 0
        border-top: 1px solid $grayText
    &__item-name
        font-size: 18px
        font-weight: bold
        margin-bottom: 10px
    &__item-job
        font-size: 18px
        color: $grayText
        margin-bottom: 10px
    &__item-login
        font-size: 18px
    &__btns
        position: absolute
        top: 20px
        right: 20px
        @include breakpoint($middlePhone)
            right: 0



