.enter
    position: relative
    width: 100%
    height: 100vh 
    @include breakpoint($phone)
        height: auto
    &__inner
        position: absolute
        width: 100%
        max-width: 600px
        top: 40px
        left: 50%
        transform: translateX(-50%)
        background-color: #fff
        box-shadow: 0px 2px 11px 7px rgba(0,0,0,0.15)
        padding: 30px
        @include breakpoint($phone)
            position: relative
            padding: 10px 20px
            top: 10px
            bottom: 20px
            box-shadow: none
            max-width: 100%
        &_auth
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        & .col-md-3, .col-md-5
            flex: 0 0 auto
            width: auto
            margin-bottom: 10px
