.footer, .footer-platform
    background-color: $darkGray
    @include breakpoint($tablet)
        margin-bottom: 110px
    &__inner
        display: flex
        flex-wrap: wrap
        padding: 35px 57px
        justify-content: space-around
        @include breakpoint($phone)
            padding: 20px 10px 23px 10px
    &__col-logo
        width: 276px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        @include breakpoint($tablet)
            order: 3
    &__logo-copy
        display: flex
        flex-wrap: wrap
        flex-grow: 1
        justify-content: space-between
        margin-bottom: 60px
        @include breakpoint($tablet)
            order: 2
            margin-bottom: 0px
    &__logo
        width: 68px
        height: 68px
        background-image: url("/f/i/logo-gray.png")
        background-size: contain
        background-position: center center
        background-repeat: no-repeat
        object-fit: contain
    &__copy
        font-size: 16px
        line-height: 26px
        margin: auto
        color: #A3A3A3
        font-family: $JostRegular
        width: min-content
    &__wrap-social
        display: flex
        flex: wrap
        justify-content: flex-start
        @include breakpoint($tablet)
            margin: 30px 0
            flex-grow: 1
            justify-content: center
        @include breakpoint($phone)
            margin: 0 0 42px 0
    &__item-social
        width: 28px
        height: 28px
        background-position: center center
        background-size: contain
        background-repeat: no-repeat
        margin: 0 10px
        &_fb
            background-image: url("/f/i/icons/fb.svg")
        &_vk
            background-image: url("/f/i/icons/vk.svg")
        &_yt
            background-image: url("/f/i/icons/yt.svg")
    &__col-link
        width: 420px
        @include breakpoint($phone)
            order: 2
            width: 100%
            margin-bottom: 33px
    &__link
        font-size: 16px
        color: #fff
        cursor: pointer
        transition: 0.2s
        width: 49%
        display: inline-block
        margin-bottom: 20px
        &:hover
            color: #fff
        @include breakpoint($phone)
            font-size: 15px
            margin-bottom: 16px
        &_phone
            display: none
            @include breakpoint($tablet)
                display: inline-block
    &__col-phone
        width: 160px
        @include breakpoint($phone)
            order: 1
            width: 100%
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            margin-bottom: 34px
    &__item-phone
        color: #fff
        font-family: $JostBold
    &__email
        color: #fff
        font-family: $JostRegular
        font-size: 16px
        @include breakpoint($phone)
            width: 50%
            font-size: 18px
    &__item-phone
        font-size: 18px
        display: inline-block
        margin-bottom: 15px
        @include breakpoint($phone)
            font-size: 16px
            margin-bottom: 10px
            width: 100%
    &__phones
        @include breakpoint($phone)
            width: 50%
            display: inline-block
    &__btn
        margin-bottom: 15px
        @include breakpoint($phone)
            width: auto
            height: 43px
            font-size: 14px
    a
        &:hover
            color: #fff

.open-navigation .footer
    &__col-logo
        @include breakpoint($laptop)
            order: 3
    &__logo-copy
        @include breakpoint($laptop)
            order: 2
            margin-bottom: 0px
    &__wrap-social
        @include breakpoint($laptop)
            margin: 30px 0
            flex-grow: 1
            justify-content: center
