.item-news
    background-color: #ffffff
    box-shadow: 0px 2px 11px 7px rgba(0, 0, 0, 0.15)
    &__inner
        padding: 30px 30px 60px 30px
        position: relative
        height: 100%
    &__title
        margin-bottom: 20px
        font-family: $CommissionerBold
        font-size: 24px
        display: inline-block
        color: #000
        &:hover
            color: #000
    &__preface
        font-size: 16px
        line-height: 20px
        padding: 20px 0
        position: relative
        &:before
            content: ''
            width: 40px
            height: 2px
            position: absolute
            top: 0
            left: 0
            background-color: $red
