.leftovers
    &__title
        font-size: 25px
        font-weight: bold
        line-height: 25px
        margin-bottom: 25px
    &__table
        width: 100%
        tr
            border-bottom: 1px solid $gray
        th
            color: $grayText
            font-size: 13px
            padding-bottom: 5px
            font-family: $JostRegular
            font-weight: 400
            &.leftovers__tx-right
                text-align: right
        td
            padding: 5px 0
            font-size: 17px
            font-family: $JostRegular
            font-weight: 400
            &.leftovers__tx-right
                text-align: right
