.manager
    background-color: #fff
    &__inner
        padding: 30px
    &__title
        font-size: 25px
        font-weight: bold
        margin-bottom: 30px
        @include breakpoint($middlePhone)
            font-size: 20px
    &__content
        padding-left: 116px
        position: relative
        @include breakpoint($middlePhone)
            padding-left: 80px
    &__logo
        width: 96px
        height: 96px
        background-size: cover
        background-position: center
        border-radius: 50%
        position: absolute
        left: 0
        top: 0
        @include breakpoint($middlePhone)
            width: 60px
            height: 60px
    &__name
        font-size: 20px
        font-weight: bold
        margin-bottom: 20px
    &__phone, &__email
        font-size: 18px
        margin-bottom: 10px
    &__email
        padding-bottom: 30px
    &__btn
        font-weight: bold
        margin-left: -10px


