.manufacturer
    background-color: $lightGray
    @include breakpoint($phone)
        padding-top: 20px
    &__inner
        @extend %contentPadding
    &__list
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__item
        background-color: #fff
        padding: 30px
        width: 15.5%
        height: 116px
        display: flex
        margin-bottom: 15px
        transition: 0.3s
        @include breakpoint($laptop)
            width: 23.5%
        @include breakpoint($tablet)
            width: 32%
        @include breakpoint($phone)
            width: 48%
        &:hover
            box-shadow: 0px 2px 11px 7px rgba(0, 0, 0, 0.15)
    &__logo
        max-width: 100%
        max-height: 100%
        margin: auto
