.menu
    background-color: $darkGray
    @include breakpoint($tablet)
        display: none
    &__inner
        padding: 15px 60px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        @include breakpoint($laptop)
            padding: 18px 15px
    &__item-link
        color: #ffffff
        text-transform: uppercase
        font-size: 15px
        letter-spacing: 2px
        font-family: $JostBold
        &:hover
            color: #fff
        @include breakpoint($laptop)
            font-size: 14px


