.mob-wishlist
    display: none
    z-index: 9
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    background-color: #fff
    @include breakpoint($tablet)
        display: block
    &__inner
        padding: 10px 5%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__item
        font-size: 14px
        font-weight: bold
        padding: 50px 0px 20px 0px
        position: relative
        cursor: pointer
        display: block
        color: #000
        &:hover
            color: #000
        &:before
            content: ''
            position: absolute
            width: 32px
            height: 32px
            top: 10px
            left: 50%
            transform: translateX(-50%)
            background-size: contain
            background-position: center center
            background-repeat: no-repeat
        &_home
            &:before
                background-image: url('/f/i/icons/mob-wishlist-home.svg')
        &_catalog
            &:before
                background-image: url('/f/i/icons/mob-wishlist-catalog.svg')
        &_basket
            &:before
                background-image: url('/f/i/icons/mob-wishlist-basket.svg')
        &_chosen
            &:before
                background-image: url('/f/i/icons/mob-wishlist-chosen.svg')
        &_user
            &:before
                background-image: url('/f/i/icons/mob-wishlist-user.svg')
        &_cargo
            &:before
                background-image: url('/f/i/icons/cargo.svg')
