.navigation
    background-color: $red
    @include breakpoint($tablet)
        position: absolute
        left: -320px
        top: 0
        z-index: 99
        transition: 0.3s
    &__inner
        width: 70px
        transition: 0.5s
        position: sticky
        top: 0
        height: 100vh
        overflow-y: scroll
        @include breakpoint($tablet)
            width: 320px
    &__item
        position: relative
        display: flex
        color: #fff
        height: 54px
        padding-left: 30px
        padding-right: 0
        font-size: 18px
        background: rgba(0, 0, 0, 0)
        transition: 0.2s
        cursor: pointer
        line-height: 1
        @include breakpoint($desktop)
            font-size: 16px
        @include breakpoint($tablet)
            padding-left: 75px
            padding-right: 60px
        &:hover
            background: rgba(0, 0, 0, 0.1)
            color: #fff
        &:before
            content: ''
            position: absolute
            display: block
            width: 36px
            height: 36px
            top: 50%
            left: 15px
            transform: translateY(-50%)
            background-size: contain
            background-repeat: no-repeat
            background-position: center center
            transition: 0.3s
        &_switch
            .navigation__text
                justify-content: center
                text-align: center
            &:before
                background-image: url("/f/i/icons/nav/show-nav.svg")
                left: 15px
                @include breakpoint($tablet)
                    background-image: url("/f/i/icons/nav/hide-nav.svg")
                    left: calc(50% - 35px - 40px)
    &__img
        position: absolute
        display: block
        width: 36px
        height: 36px
        top: 50%
        left: 15px
        transform: translateY(-50%)
        background-size: contain
        background-repeat: no-repeat
        background-position: center center
        transition: 0.3s
    &__text
        display: none
        align-items: center
        width: 100%
        height: 100%
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        @include breakpoint($tablet)
            display: flex

.open-navigation .navigation
    @include breakpoint($tablet)
        left: 0
    &__inner
        width: 420px
        @include breakpoint($desktop)
            width: 320px
    &__text
        display: flex
    &__item
        padding-left: 65px
        padding-right: 5px
        &_switch
            &:before
                background-image: url("/f/i/icons/nav/hide-nav.svg")
                left: calc(50% - 35px - 40px)


.navigation__inner::-webkit-scrollbar
    height: 8px
    width: 8px
//.navigation__inner::-webkit-scrollbar-track
    //background:  rgba(0, 0, 0, 0.15)
.navigation__inner::-webkit-scrollbar-thumb
    background-color:  rgba(0, 0, 0, 0.3)
    border-radius: 5px
    //border: 3px solid  rgba(0, 0, 0, 0)

.wrapper.open-navigation
    @include breakpoint($tablet)
        overflow:  hidden
        height:  100vh
        width: 100vw
        display: block
