.news
    background-color: #ffffff
    &_page
        background-color: transparent
        .news
            &__inner
                padding-top: 0
            &__item-news
                margin-bottom: 40px
                width: 32%
                @include breakpoint($desktop)
                    width: 48%
                @include breakpoint($tablet)
                    width: 100%
                    margin: 0  0 20px 0
    &__inner
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        @extend %contentPadding
    &__item-news
        width: 31%
        @include breakpoint($tablet)
            margin: 15px
            height: 46vw
        @include breakpoint($phone)
            height: auto
    &__btn-arrow
        position: absolute
        right: 30px
        bottom: 30px
