.notification
  &__inner
    @extend %contentIndent
  &__item
    background-color: #ffffff
    padding: 20px 30px
    margin-bottom: 30px
    display: flex
    flex-wrap: wrap
    border-left: 5px solid $darkGray
    &_new
      border-color: #4067CE
      .notification__left
        background-image: url("/f/i/icons/new.svg")
    &_equipment
      border-color: #4F576D
      .notification__left
        background-image: url("/f/i/icons/equipment.svg")
    &_staffed
      border-color: #FF8C05
      .notification__left
        background-image: url("/f/i/icons/staffed.svg")
    &_delivery
      border-color: #00C3DE
      .notification__left
        background-image: url("/f/i/icons/delivery.svg")
    &_done
      border-color: #4CBB3A
      .notification__left
        background-image: url("/f/i/icons/done.svg")
    &_canceled
      border-color: #E23535
      .notification__left
        background-image: url("/f/i/icons/canceled.svg")
  &__title
    font-size: 22px
    font-weight: bold
    margin-bottom: 10px
    @include breakpoint($middlePhone)
      font-size: 20px
      line-height: 22px
  &__text
    font-size: 18px
    @include breakpoint($middlePhone)
      font-size: 16px
  &__left
    width: 80px
    height: 80px
    margin-right: 20px
    background-position: center center
    background-repeat: no-repeat
    background-size: contain
    background-image: url("/f/i/icons/notification.svg")
    @include breakpoint($middlePhone)
      width: 60px
      height: 60px
  &__right
    flex-grow: 1
    @include breakpoint($tablet)
      width: min-content
