.price-rub
    display: inline-block
    padding-right: 22px
    font-size: 30px
    position: relative
    &:before
        content: ''
        width: 20px
        height: 22px
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        background-image: url("/f/i/icons/rub.svg")
        background-position: center right
        background-size: contain
        background-repeat: no-repeat

