.product
  position: relative
  &__table
    width: 100%
    & .btn-cart, & .btn-heart
      margin-top: 7px
  &__row
    width: 100%
    background-color: #ffffff
    border-bottom: 4px solid $gray
  &__col
    align-self: center
    padding: 15px
    font-size: 18px
    font-family: $JostRegular
    font-weight: 400
    &_tx-center
      text-align: center
  &__head
    background-color: transparent
  &__head-col
    font-size: 14px
    color: $darkGrayText
  &__img
    max-width: 53px
    max-height: 53px
  &__sorting
    width: 10px
    height: 10px
    cursor: pointer
    margin-left: 5px
    display: inline-block
    background-image: url("/f/i/icons/vector.svg")
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
    transform: rotateZ(90deg)
    &_active
      transform: rotateZ(-90deg)
  &__setting
    display: inline-block
    cursor: pointer
    width: 32px
    height: 32px
    background-image: url("/f/i/icons/gear.svg")
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
  &__tx-end
    text-align: end
  &__modal
    background-color: #ffffff
    padding: 20px
    box-shadow: 0px 0px 8px -4.5px #000
  &__modal-item
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
    & .form-check-input
      margin-right: 5px
  &__compact
    color: $darkGrayText
    display: block
    font-size: 13px


