.prodnav
  margin-top: 35px
  &__inner
    display: flex
    flex-wrap: wrap
  &__item
    width: 44px
    height: 44px
    border-radius: 3px
    color: #000000
    margin-right: 10px
    transition: 0.3s
    cursor: pointer
    align-items: center
    display: flex
    justify-content: center
    font-size: 16px
    @include breakpoint($middlePhone)
      margin-right: 5px
    &:last-child
      margin-right: 0
    &:hover
      background-color: rgba(54, 53, 61, 0.2)
    &_active
      background-color: rgba(54, 53, 61, 1)
      color: #ffffff
    &_active:hover
      background-color: rgba(54, 53, 61, 1)
