.prod-small
  &__item
    display: flex
    flex-wrap: wrap
    background-color: #ffffff
    padding: 14px 12px 15px 16px
    margin-bottom: 4px
  &__left
    width: 53px
    margin-right: 14px
  &__wrap-img
    width: 100%
    height: 45px
    margin-bottom: 17px
    border: 1px solid #DDDDDD
    padding: 2px
  &__img
    max-width: 100%
    max-height: 100%
    margin: auto
    display: block
  &__right
    width: calc(100% - 67px)
  &__title
    font-size: 18px
    font-family: $JostBold
    margin-bottom: 12px
    @include breakpoint($middlePhone)
      font-size: 15px
  &__characteristic
    margin-bottom: 12px
  &__item-characteristic
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 6px
    @include breakpoint($middlePhone)
      margin-bottom: 2px
  &__characteristic-name, &__characteristic-value
    font-size: 16px
    font-family: $JostRegular
    line-height: 18px
    @include breakpoint($middlePhone)
      font-size: 13px
  &__characteristic-name
    color: $darkGrayText
  &__characteristic-value
    color: #000000
  &__tobasket
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__price
    font-size: 24px
    font-family: $JostBold
    align-self: center
    display: flex
    @include breakpoint($middlePhone)
      font-size: 18px
  &__wrap-amount
    align-self: center
    display: flex
    margin: 0 50px
    @include breakpoint($middlePhone)
      margin: 0 30px
  &__wrap-cart
    align-self: center
    display: flex
  &__amount-cart
    display: flex
    flex-wrap: wrap
  &__setting
    margin: 10px 0
  &__compact
    color: $darkGrayText




