.profile-card
    @extend %contentIndent
    &__inner
        background-color: #fff
        padding-top: 30px
    &__company
        padding-left: 225px
        padding-right: 30px
        position: relative
        border-bottom: 1px solid $gray
        padding-bottom: 20px
        @include breakpoint($laptop)
            padding-left: 125px
        @include breakpoint($middlePhone)
            padding-left: 20px
            padding-right: 20px
            padding-top: 70px
    &__logo
        position: absolute
        left: 30px
        top: 0
        width: 160px
        height: 160px
        background-repeat: no-repeat
        background-size: contain
        background-position: center center
        @include breakpoint($laptop)
            width: 60px
            height: 60px
        @include breakpoint($middlePhone)
            left: 50%
            transform: translateX(-50%)
    &__head
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom: 20px
        @include breakpoint($laptop)
            margin-bottom: 10px
    &__name
        font-size: 25px
        font-weight: bold
        @include breakpoint('1440px')
            order: 2
    &__info
        display: flex
        flex-wrap: wrap
    &__unit-info
        margin-bottom: 20px
        padding-right: 32px
        padding-left: 32px
        border-right: 1px solid $gray
        @include breakpoint($laptop)
            margin-bottom: 10px
        @include breakpoint($phone)
            width: 100%
            border-right: none
            padding-left: 0
            padding-right: 0
        &:nth-child(1)
            width: 100%
            border-right: none
            padding-left: 0
        &:nth-child(2)
            padding-left: 0
        &:nth-child(3)
            @include breakpoint('1540px')
                padding-right: 0
                border-right: none
        &:nth-child(4)
            border-right: none
            padding-right: 0
            @include breakpoint('1540px')
                padding-left: 0
                width: 100%
    &__calculation
        padding: 30px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        @include breakpoint($laptop)
            justify-content: space-between
    &__head-title
        @include breakpoint($laptop)
            width: 100%
            margin-bottom: 20px
        & .profile-card__calculation-title
            @include breakpoint($laptop)
                font-size: 25px
    &__calculation-coll
        align-self: center
        margin-right: 70px
        &:last-child
            margin-right: 0
        @include breakpoint('1440px')
            margin-right: 55px
        @include breakpoint($laptop)
            margin-right: 10px
            margin-bottom: 10px
        @include breakpoint($phone)
            width: 100%
    &__calculation-title
        font-size: 18px
        font-weight: bold
    &__calculation-text
        font-size: 30px
    &__btns
        align-self: center
        @include breakpoint('1440px')
            width: 100%
            order: 1
            text-align: left
            margin-left: -10px
            .red-img-btn
                @include breakpoint($phone)
                display: block
                padding-top: 5px
