.profile-members
    @extend %contentIndent
    &__inner
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__employees
        width: 60%
        @include breakpoint($desktop)
            width: 52%
        @include breakpoint($laptop)
            width: 100%
            order: 2
    &__manager
        @include breakpoint($desktop)
            width: 45%
        @include breakpoint($laptop)
            width: 100%
            order: 1
            margin-bottom: 60px
        @include breakpoint($tablet)
            margin-bottom: 20px
