.search-wishlist
    background-color: $gray
    flex: auto
    padding: 25px 42px 25px 60px
    @include breakpoint($tablet)
        padding: 20px
    @include breakpoint($phone)
        padding: 10px 10px 0px 10px
        background-color: transparent
    &__inner
        display: flex
        flex-wrap: wrap

