.search
    flex: auto
    &__inner
        background-color: #fff
        padding-right: 40px
        position: relative
        border: 1px solid #D9D9D9
        @include breakpoint($phone)
            border: 1px solid $gray
            padding-right: 30px
    &__input
        width: 100%
        border: 0
        padding: 8px 14px
        font-size: 18px
        line-height: 28px
        @include breakpoint($phone)
            padding: 6px 10px
            font-size: 13px
            line-height: 23px
    &__magnifier
        position: absolute
        height: 24px
        width: 24px
        top: 50%
        right: 20px
        transform: translateY(-50%)
        cursor: pointer
        background-image: url("/f/i/icons/magnifier.svg")
        background-size: cover
        @include breakpoint($phone)
            right: 10px

