.shipment-table
  display: table
  width: 100%
  &__row
    display: table-row
    font-size: 18px
    color: #000000
    &_head
      font-size: 14px
      color: $darkGrayText
    &:last-child
      & .shipment-table__coll
        border-bottom: none
  &__coll
    align-self: center
    display: table-cell
    padding: 10px
    border-bottom: 1px solid #E3E3E3
    &_txt-center
      text-align: center
    &_name
      flex-grow: 1


