.shipments
  position: relative
  &__head, &__item-head
    display: flex
    flex-wrap: wrap
  &__head
    @include breakpoint($tablet)
      display: none
  &__item-head
    position: relative
    display: flex
  &__head-title, &__item-title
    align-self: center
    font-size: 18px
    font-family: $JostRegular
    font-weight: 400
    &:nth-child(1) // Номер
      width: 80px
      text-align: center
      @include breakpoint($tablet)
        flex-grow: 1
        &:before
          content: '№'
          margin-right: 5px
    &:nth-child(2) // Дата
      width: 10%
      min-width: 120px
      @include breakpoint($tablet)
        order: 6
        width: 100%
        &:before
          content: 'Дата:'
          margin-right: 5px
    &:nth-child(3) // Наименование
      flex-grow: 1
      @include breakpoint($tablet)
        margin-top: 5px
        order: 5
        width: 100%
    &:nth-child(4) // Ваша цена
      width: 10%
      min-width: 140px
      @include breakpoint($tablet)
        order: 5
        width: 100%
        &:before
          content: 'Ваша цена:'
          margin-right: 5px
    &:nth-child(5) // Статус
      width: 5%
      min-width: 30px
      box-sizing: content-box
    &:nth-child(6) // Настройки
      width: 32px
      box-sizing: content-box
    &:nth-child(7) // accordion
      width: 25px
      box-sizing: content-box
  &__head-title
    font-size: 14px
    color: $darkGrayText
    padding: 15px
  &__item-title
    padding: 0 15px
  &__item
    background-color: #ffffff
    margin-bottom: 5px
    border-bottom: none!important
    & .prod-small__item
      border-bottom: 1px solid #E3E3E3
      &:last-child
        border-bottom: none
  &__item-content
    padding: 0 15px
    display: none
    &.show
      display: block
  &__table
    width: 100%
  & .btn-cart, & .btn-heart
    margin-top: 7px
  &__row
    width: 100%
    background-color: #ffffff
    border-bottom: 4px solid $gray
  &__col
    align-self: center
    padding: 15px
    font-size: 18px
    font-family: $JostRegular
    font-weight: 400
    &_tx-center
      text-align: center
  &__head
    background-color: transparent
  &__head-col
    font-size: 14px
    color: $darkGrayText
  &__img
    max-width: 53px
    max-height: 53px
  &__sorting
    width: 10px
    height: 10px
    cursor: pointer
    margin-left: 5px
    display: inline-block
    background-image: url("/f/i/icons/vector.svg")
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
    transform: rotateZ(90deg)
    &_active
      transform: rotateZ(-90deg)
  &__setting
    display: inline-block
    cursor: pointer
    width: 32px
    height: 32px
    background-image: url("/f/i/icons/gear.svg")
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
  &__tx-end
    text-align: end
  &__modal
    background-color: #ffffff
    padding: 20px
    box-shadow: 0px 0px 8px -4.5px #000
  &__modal-item
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
    & .form-check-input
      margin-right: 5px

