.slider-cart
    width: 400px
    margin: auto
    @include breakpoint($smallPhone)
        width: auto
    &__dots
        display: inline-block
        text-align: center
        margin: 20px 0 0 0
        padding: 0
        width: 100%
        li
            font-size: 0
            line-height: 0
            width: 10px
            height: 10px
            border-radius: 50%
            border: 1px solid $grayText
            margin: 0 7px
            display: inline-block
            cursor: pointer
            &.slick-active
                border: 1px solid $red
                background-color: $red
    &__img
        max-width: 100%

