.status
    position: relative
    height: 30px
    display: flex
    &:before
        content: ''
        width: 30px
        height: 30px
        border-radius: 50%
        position: relative
        left: 0
        top: 0
    &_new
        &:before
            background-color: #4067CE
    &_equipment
        &:before
            background-color: #4F576D
    &_staffed
        &:before
            background-color: #FF8C05
    &_delivery
        &:before
            background-color: #00C3DE
    &_done
        &:before
            background-color: #4CBB3A
    &_canceled
        &:before
            background-color: #E23535
    &__text
        margin-right: 5px
        margin-left: 5px
        align-self: center


