.statistics-manufacturer
    &__list
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__title
        font-size: 18px
        font-family: $JostBold
        margin-bottom: 32px
    &__item
        background-color: #fff
        padding: 30px
        width: 15.5%
        height: 116px
        display: flex
        margin-bottom: 15px
        transition: 0.3s
        border: 1px solid #EFEEEE
        @include breakpoint($laptop)
            width: 23.5%
        @include breakpoint($tablet)
            width: 32%
        @include breakpoint($phone)
            width: 48%
        &:hover
            box-shadow: 0px 2px 11px 7px rgba(0, 0, 0, 0.15)
    &__logo
        max-width: 100%
        max-height: 100%
        margin: auto
