.statistics
    @extend %contentIndent
    &__inner
        display: flex
        flex-wrap: wrap
    &__nav
        width: 180px
        .nav-link
            width: 100%
            border: none
            border-radius: inherit
            text-align: left
            color: #000
            font-size: 18px
            font-weight: bold
            &.active
                color: #000
        .nav-tabs
            border: none
    &__tab-content
        background-color: #fff
        width: calc(100% - 180px)
        padding: 40px
    &__graffics
        margin-bottom: 7px

