.support
  &__inner
    @extend %contentIndent
  &__wrap-topics
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__search
    margin-bottom: 40px
  &__topic-title
    font-size: 24px
    font-weight: bold
    margin-bottom: 10px
  &__topic
    background-color: #ffffff
    padding: 20px 30px
    width: 48%
    margin-bottom: 40px
    @include breakpoint($desktop)
      width: 100%
  &__question
    display: block
    margin-bottom: 8px
    font-size: 18px
    line-height: 20px
    color: #000000
    position: relative
    padding-left: 30px
    &:before
      content: ''
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      width: 25px
      height: 25px
      background-image: url("/f/i/icons/question.svg")
      background-size: contain
      background-position: center center
      background-repeat: no-repeat
    &:hover
      text-decoration: underline



