.switch-unit
  display: block
  margin-bottom: 20px
  position: relative
  background-color: $red
  padding: 40px 20px 50px 130px
  overflow: hidden
  white-space: normal
  cursor: pointer
  @include breakpoint($laptop)
    width: 36%
    margin-right: 2%
    display: inline-block
    &:last-child
      margin-right: 0
  @include breakpoint($tablet)
    padding: 25px 20px 50px 90px
  @include breakpoint($phone)
    width: 55vw
  @include breakpoint($middlePhone)
    width: 70vw
  @include breakpoint($smallPhone)
    padding: 25px 20px 50px 70px
  &__title
    color: #fff
    font-size: 30px
    line-height: 26px
    font-weight: bold
    min-height: 50px
    display: block
    @include breakpoint($tablet)
      font-size: 22px
      min-height: 40px
    @include breakpoint($smallPhone)
      font-size: 20px
      min-height: 30px
  &__link
    position: absolute
    text-transform: uppercase
    color: #ffffff
    display: block
  &__point-img
    position: absolute
    left: 20px
    top: 20px
    height: 100px
    @include breakpoint($tablet)
      left: 8px
      height: 70px
    @include breakpoint($smallPhone)
      left: 1px
      height: 60px
