.title
    &__inner
        @extend %contentIndent
    &__h1
        font-size: 35px
        display: inline
        font-family: $JostBold
        @include breakpoint($phone)
            font-size: 30px
    &__amount
        display: inline
        vertical-align: super
        font-size: 20px
        font-weight: bold
        color: $grayText
        margin-left: 10px
