.tobasket
    background-color: #ffffff
    box-shadow: 0px 2px 11px 7px rgba(0, 0, 0, 0.15)
    margin-bottom: 30px
    @include breakpoint($laptop)
        margin: 0 auto 40px auto
        width: 400px
    @include breakpoint($phone)
        width: 100%
    &__inner
        padding: 40px
        @include breakpoint($smallPhone)
            padding: 20px
    &__wrap-amount
        display: flex
        flex-wrap: wrap
        margin-bottom: 30px
    .amount__inner
        width: 140px
        margin-right: 20px
    .amount__coll
        display: flex
        align-items: center
    &__btns
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__price
        margin: auto
    //&__amount

