.wishlist
    &__inner
        padding: 7px 0 7px 30px
        @include breakpoint($phone)
            padding: 3px 0 0px 10px
    &__item
        height: 32px
        width: 32px
        margin: 0 15px
        background-size: cover
        background-position: center center
        display: inline-block
        position: relative
        &_simple
            background-image: url("/f/i/icons/simple.svg")
            @include breakpoint($phone)
                width: 28px
                margin: 0
        &_heart
            background-image: url("/f/i/icons/heart.svg")
            @include breakpoint($tablet)
                display: none
        &_user
            background-image: url("/f/i/icons/user.svg")
            @include breakpoint($tablet)
                display: none
        &_basket
            background-image: url("/f/i/icons/basket.svg")
            @include breakpoint($tablet)
                display: none
    &__sum
        background-color: $red
        color: #ffffff
        font-size: 10px
        min-width: 16px
        min-height: 16px
        line-height: 10px
        text-align: center
        padding: 3px
        border-radius: 50%
        position: absolute
        top: -3px
        right: -3px
