a
    color: $red
    text-decoration: none

a:hover
    color: $red

*
    box-sizing: border-box

body
    margin: 0
    padding: 0
    position: relative
    font-family: $JostRegular

.have-opened-popup
    overflow: hidden

sup
    vertical-align: super
    font-size: 0.6em

main
    min-height: 450px

aside, main, section, header, footer
    display: block

img
    max-width: 100%


button:active, button:focus, input:active, input:focus, a:active, a:focus, textarea:active, textarea:focus
    outline: none

button
    background-color: transparent
    padding: 0
    border: none
    font-family: $JostRegular
    cursor: pointer

.disabled
    background-color: $lightGray!important
    cursor: auto!important
    pointer-events: none!important

.form-check-input
    width: 24px
    height: 24px

.form-check-label
    font-size: 18px
    line-height: 24px
    margin-left: 9px
    margin-top: 4px
    @include breakpoint($phone)
        font-size: 16px
