.gear-btn
    background-image: url("/f/i/icons/gear.svg")
    width: 32px
    height: 32px

.red-btn
    background-color: $red
    color: #fff
    text-align: center
    font-size: 16px
    padding: 10px 20px
    border-radius: 3px
    display: inline-block
    cursor: pointer
    font-family: $CommissionerBold
    &:hover
        opacity: 0.8
        color: #fff
    &_spinner
        color: transparent
        opacity: 0.8
        position: relative
        pointer-events: none
        &:hover
            color: transparent
        &:before
            content: ''
            display: block
            width: 36px
            height: 36px
            background-image: url("/f/i/icons/spinner.svg")
            background-size: contain
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

.white-btn
    background-color: #fff
    color: #000
    text-align: center
    font-size: 16px
    padding: 10px 25px
    border-radius: 3px
    display: inline-block
    cursor: pointer
    font-family: $CommissionerBold
    &:hover
        color: #000

.btn-arrow
    display: inline-block
    cursor: pointer
    height: 30px
    width: 60px
    position: relative
    &:before
        content: ''
        width: 30px
        height: 20px
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 0
        background-image: url("/f/i/icons/arrow-right-red.svg")
        background-repeat: no-repeat
        background-size: contain
        transition: 0.3s
    &:after
        content: ''
        height: 30px
        width: 30px
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        background-image: url("/f/i/icons/ellipse.svg")
        background-repeat: no-repeat
        background-size: contain
    &:hover:before
        left: 20px

.btn-cart
    display: inline-block
    cursor: pointer
    background-color: $red
    width: 48px
    height: 48px
    border-radius: 3px
    background-image: url("/f/i/icons/cart.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: 60%
    &:hover
        opacity: 0.8
    &.active
        background-image: url("/f/i/icons/checking.svg")

.btn-heart
    width: 48px
    height: 48px
    display: inline-block
    cursor: pointer
    background-image: url("/f/i/icons/heart-gray.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: 60%
    &:hover, &.active
        background-image: url("/f/i/icons/heart-full-red.svg")
        border-color: $red
    &_square
        width: 58px
        height: 58px
        border: 1px solid $gray
        background-size: 50%

.btn-minus
    width: 20px
    height: 20px
    background-image: url("/f/i/icons/minus-gray.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: 90%
    &:hover, &.active
        background-image: url("/f/i/icons/minus-black.svg")
        border-color: #000
    &_square
        width: 44px
        height: 44px
        border: 1px solid $gray
        background-size: 50%

.btn-plus
    width: 20px
    height: 20px
    background-image: url("/f/i/icons/plus-gray.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: 90%
    &:hover, &.active
        background-image: url("/f/i/icons/plus-black.svg")
        border-color: #000
    &_square
        width: 44px
        height: 44px
        border: 1px solid $gray
        background-size: 50%

.btn-tobaske
    cursor: pointer
    color: #fff
    background-color: $red
    padding: 20px 30px 20px 70px
    font-size: 18px
    line-height: 18px
    background-image: url("/f/i/icons/basket-white.svg")
    background-position: 30px center
    background-size: 30px
    background-repeat: no-repeat
    font-family: $CommissionerBold
    font-weight: 400
    &:hover
        color: #fff
        cursor: pointer
        opacity: 0.8
    &.active
        background-image: url("/f/i/icons/checking.svg")
    @include breakpoint($smallPhone)
        padding: 20px 20px 20px 60px
        background-position: 20px center
        font-size: 14px

.img-btn
    color: #000
    padding: 10px 10px 10px 40px
    background-position: left center
    background-size: 32px
    background-repeat: no-repeat
    cursor: pointer
    align-self: baseline
    &:hover
        color: #000
    &_check
        background-image: url("/f/i/icons/check.svg")
    &_save
        background-image: url("/f/i/icons/save.svg")
    &_print
        background-image: url("/f/i/icons/print.svg")

.red-img-btn
    padding: 10px 10px 10px 40px
    background-position: 10px center
    background-repeat: no-repeat
    background-size: 25px
    &_mail
        background-image: url("/f/i/icons/mail-red.svg")
    &_profile
        background-image: url("/f/i/icons/profile-red.svg")
    &_chat
        background-image: url("/f/i/icons/chat.svg")

.btn-lock
    width: 36px
    height: 36px
    background-position: center
    background-size: 34px
    background-repeat: no-repeat
    background-image: url("/f/i/icons/lock.svg")
    display: inline-block

.btn-trash
    width: 36px
    height: 36px
    cursor: pointer
    background-position: center
    background-size: 26px
    background-repeat: no-repeat
    background-image: url("/f/i/icons/trash.svg")
    display: inline-block

.btn-outline-primary
    border-color: $red
    color: $red
    background-color: #ffffff
    &:hover
        background-color: $red
        border-color: $red
.btn-check:active+.btn-outline-primary
    background-color: $red
    border-color: $red
.btn-check:checked+.btn-outline-primary
    background-color: $red
    border-color: $red
    box-shadow: none

.link-arrow
    display: inline-block
    padding-right: 50px
    position: relative
    cursor: pointer
    &:before
        content: ''
        background-image: url("/f/i/icons/arrow-right.svg")
        width: 24px
        height: 24px
        position: absolute
        right: 20px
        top: 50%
        transform: translateY(-50%)
        transition: 0.6s
    &.active
        &:before
            right: 0

