.content
    flex-grow:  1
    background-color: $lightGray
    position: relative
    z-index: 9
    @include breakpoint($tablet)
        max-width: 100vw
        display:  block
    &__inner
        position: relative

.modal-open
    .content
        z-index: auto


