@font-face
  font-family: JostRegular
  font-display: swap
  font-stretch: normal
  src: url("/f/fonts/jost/jost-regular.woff2") format("woff2"), url("/f/fonts/jost/jost-regular.woff") format("woff")

@font-face
    font-family: JostBold
    font-display: swap
    font-stretch: normal
    src: url("/f/fonts/jost/jost-bold.woff2") format("woff2"), url("/f/fonts/jost/jost-bold.woff") format("woff")

@font-face
  font-family: CommissionerRegular
  font-display: swap
  font-stretch: normal
  src: url("/f/fonts/commissioner/Commissioner-Regular.woff2") format("woff2"), url("/f/fonts/commissioner/Commissioner-Regular.woff") format("woff")

@font-face
  font-family: CommissionerBold
  font-display: swap
  font-stretch: normal
  src: url("/f/fonts/commissioner/Commissioner-Bold.woff2") format("woff2"), url("/f/fonts/commissioner/Commissioner-Bold.woff") format("woff")
