.form-data
	margin-bottom: 2px
	position: relative
	padding-bottom: 25px
	max-width: 600px
	&_small-indent
		padding-bottom: 15px
	&_big-indent
		padding-bottom: 35px
	&__input, &__textarea
		font-size: 17px
		font-weight: bold
		border: none
		outline: none
		width: 100%
		background-color: #fff
		font-family: $JostRegular
        @include breakpoint($phone){
            font-size: 14px
        }
	&__wrap
		border: 1px solid $lightGray
		border-radius: 3px
		padding: 16px 20px
		position: relative
		background-color: #fff
        @media screen and (max-width: $smallPhone)
			padding: 14px 10px
		&_small
			padding: 5px 8px
		&_logo-right-small
			padding-right: 20px
		&_price
			padding-left: 25px
		&_editing
			padding: 0 36px 0 0
			border: none
			display: flex
			flex-wrap: wrap
	&__editing
		cursor: pointer
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
		width: 24px
		height: 24px
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
		background-image: url("/f/i/icons/editing.svg")

	&__title
		font-size: 14px
		color: #000
		line-height: 18px
		margin-bottom: 5px
	&.data-error
		.form-data__wrap
			border-color: $red
		.form-data__error
			display: block
		.form-data__checkbox + label:before
			border-color: $red
	&.data-ok
		.form-data__ok
			display: block
			i
				color: #3CD828
	&__logo-right-small
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
		width: 30px
		height: 30px
		display: block
		cursor: pointer
		background-color: #ffffff
		&_search
			&:before
				content: ''
				position: absolute
				left: 50%
				top: 50%
				transform: translateX(-50%) translateY(-50%)
				width: 16px
				height: 16px
				background-image: url(/f/i/icons/search.svg)
				background-size: cover
				background-repeat: no-repeat
				background-position: center center
	&__label-comment
		color: $gray
	&__price-pl
		position: absolute
		font-size: 14px
		color: $lightGray
		left: 5px
		top: 45%
		transform: translateY(-50%)
	&__textarea
		width: 100%
		border: none
		resize: none
		font-size: 16px
	&__stars
		display: flex
		flex-wrap: wrap
		justify-content: left
	&__stars-title
		font-size: 16px
		font-weight: bold
		margin: auto 25px auto 0
        @include breakpoint($phone)
			width: 100%
			margin-bottom: 10px

	&__name-input
		width: calc(100% - 30px)
		height: 50px
		border: 1px solid $lightGray
		background: #fff
		z-index: 10
		position: relative
		padding: 0 14px
		margin-bottom: 30px
		display: none
		&::-webkit-input-placeholder {color:#9aa2ab;}
		&::-moz-placeholder          {color:#9aa2ab;}
		&:-moz-placeholder           {color:#9aa2ab;}
		&:-ms-input-placeholder      {color:#9aa2ab;}
	&__check-group
		position: relative
		background: #fff
		z-index: 10
		font-family: $JostRegular
		font-size: 14px
		color: #000
		label
			display: inline-block
			padding-bottom: 30px
			cursor: pointer
			position: relative
			padding-left: 36px
			margin-right: 30px
			&:last-child
				margin-right: 0
			span
				position: absolute
				width: 25px
				height: 25px
				border-radius: 50%
				top: -7px
				left: 0px
				border: 2px solid $lightGray
				&:after
					content: ''
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					background: #fff
					width: 15px
					border-radius: 50%
					height: 15px
			input
				display: none
				&:checked + span:after
					background: #000
	&__wrap-images
		position: relative
		&:before
			content: ''
			width: 15px
			height: 13px
			position: absolute
			left: 15px
			top: 15px
			background-image: url("/f/i/icons/comment.svg")
			background-size: cover
			z-index: 9



	&__wrap_withplaceholder
		padding: 24px 20px 5px 18px
		cursor: pointer
	&__wrap_date
		padding: 24px 40px 5 18px
		&:after
			content: ''
			position: absolute
			background: url('/f/i/popup_online-consult/calendar.svg') no-repeat center
			background-size: contain
			width: 29px
			height: 28px
			top: 10px
			right: 13px
	&__placeholder
		position: absolute
		top: calc(50% - 6px)
		line-height: 12px
		font-size: 11px
		letter-spacing: -0.2px
		font-family: $JostRegular
		color: #9f9f9f
		left: 18px
		transition: all 0.1s linear
		user-select: none



	&__input_withplaceholder
		font-size: 14px
		&:focus ~ .form-data__placeholder,
		&.noempty ~ .form-data__placeholder
			top: 9px;


	&__error
		display: none
		font-size: 12px
		color: $red
		line-height: 18px
		position: absolute
		bottom: 0
		left: 0
	&__hint
		font-size: 12px
		color: $darkGray
		line-height: 18px
		margin-top: 2px
	&__half
		width: 47%
		&:nth-child(odd)
			float: left
            @include breakpoint($phone)
				width: 100%
				float: none
		&:nth-child(even)
			float: right
            @include breakpoint($phone)
				width: 100%
				float: none

	&__label-file
		&:before
			content: ''
			background-image: url('/f/i/paris/clip.svg')
			width: 14px
			height: 14px
			background-size: cover
			display: inline-block
	&__file
		width: 0
		height: 0
		overflow: hidden
	&__link-file
		font-size: 14px
		color: $blue
		text-decoration: none
		border-bottom: 1px dashed $blue
		cursor: pointer
		&:hover
			text-decoration: none
			border-bottom: none
	&__checkbox
		position: absolute
		z-index: -1
		opacity: 0
		margin: 10px 0 0 20px;
	&__checkbox + label
		position: relative
		padding: 0 0 0 25px;
		cursor: pointer
		color: #000
		line-height: 20px
	&__checkbox + label:before
		content: ''
		position: absolute
		top: 3px
		left: 0
		width: 16px
		height: 16px
		border-radius: 3px
		border: 1px solid $lightGray
		background: #fff
		transition: .2s
	&__checkbox:checked + label:after
		content: ''
		background-image: url('/f/i/icons/tick.svg')
		background-size: cover
		width: 12px
		height: 12px
		display: block
		position: absolute
		top: 6px
		left: 4px
	&__checkbox + label.form-data__checkbox-label_small
		font-size: 13px;
		letter-spacing: -0.2px;
		a
			text-decoration: none
			color: $blue
		&:before
			top: -8px
		&:after
			top: -4px
	&__label
		font-family: $JostRegular
		font-size: 17px
		a
			text-decoration: underline
	&__dropdown
		// display none
		max-height: 234px
		width: 100%
		left: 0
		top: 55px
		position: absolute
		border: 1px solid #ccc
		border-radius: 4px
		z-index: 9999
		overflow-y: scroll
		box-shadow: 0 2px 10px rgba(0,0,0,0.2)
		background-color: #fff
		box-sizing: border-box
		padding: 5px
	&__drop-item
		font-size: 12px
		padding: 5px 0 5px 5px
		margin: 0 -5px
		cursor: pointer
		color: #000
		&:hover
			background-color: $blue
			color: #fff
	&__close-file
		cursor: pointer
		i
			&:before
				color: $blue

	&__range-inputs
		display: flex
	&__dash
		width: 40px
		position: relative
		margin-bottom: 12px
		&:before
			content: ''
			position: absolute
			height: 1px
			width: 60%
			background-color: $lightGray
			left: 50%
			top: 50%
			transform: translateX(-50%) translateY(-50%)
	&_range-from, &_range-to
		width: calc(50% - 20px)


.form-data-radio
	margin-bottom: 30px
	input
		display: none
	input[type=radio]:checked + label:before
		opacity: 1
	&__inner
		display: flex
		flex-wrap: wrap
	&__title
		width: 100%
		font-size: 17px
		font-weight: bold
		margin-bottom: 10px
	&__label
		display: inline-block
		font-size: 17px
		margin-right: 20px
		font-weight: bold
		padding-left: 28px
		padding-top: 3px
		position: relative
		min-height: 21px
		cursor: pointer
		&:after
			content: ''
			width: 20px
			height: 20px
			border: 1px solid $lightGray
			border-radius: 50%
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
		&:before
			opacity: 0
			content: ''
			left: 4px
			height: 14px
			width: 14px
			background-color: #000000
			position: absolute
			top: 50%
			transform: translateY(-50%)
			border-radius: 50%
			transition: 0.4s








