//FONTS
$JostRegular: 'JostRegular', 'Verdana', sans-serif;
$JostBold: 'JostBold', 'Verdana', sans-serif;
$CommissionerRegular: 'CommissionerRegular', 'Verdana', sans-serif;
$CommissionerBold: 'CommissionerBold', 'Verdana', sans-serif;


// COLORS
$red: #D7252F;
$lightGray: #F3F3F3;
$gray: #EEEEEE;
$grayText: #787878;
$darkGrayText: #6D6D6D;
$darkGray: #36353D;
$blue: blue;
// MEDIA
$desktop: '1639px';
$laptop: '1319px';
$tablet: '1064px';
$phone: '767px';
$middlePhone: '490px';
$smallPhone: '420px';

%stylePlaceholder{
    color: #000;
    font-family: $JostRegular;
    font-weight: bold;
}
%contentPadding{
    padding: 60px;
    @include breakpoint($laptop){
        padding: 40px;
    }
    @include breakpoint($tablet){
        padding: 20px
    }
    @include breakpoint($phone){
        padding: 10px
    }
}
%contentIndent{
    padding: 0 60px 60px;
    @include breakpoint($laptop){
        padding: 0 40px 40px;
    }
    @include breakpoint($tablet){
        padding: 0 20px 20px 20px;
    }
    @include breakpoint($phone){
        padding: 0 10px 10px 10px;
    }
}
.h2{
    font-family: "CommissionerBold", "Verdana", sans-serif;
    font-size: 32px;
    margin-bottom: 40px;
    @include breakpoint($phone){
        font-size: 22px;
        margin-bottom: 20px;
    }

}
%minHeight{
    min-height: calc(100vh - 386px);
    @include breakpoint($tablet){
        min-height: calc(100vh - 333px);
    }
    @include breakpoint($phone){
        min-height: calc(100vh - 521px);
    }
}

